[2020-12-22 16:31] dangunter opened #2 "Add IDAES DMF to Prescient data workflow tracking"
Workflow tracking is being developed under `dispatches.workflow`. Its initial iteration stubbed in some classes to track Prescient data, but they didn't actually save anything to the IDAES Data Management Framework (DMF). This is the next step.

[2021-01-11 19:26] ksbeattie opened #7 "Add icons to docs"
Now that the docs are in place, a stub of them at least, add the icons from the github.io repo.

[2021-02-16 16:18] dangunter opened #13 "Add dependencies to setup.py"
Dependencies are missing:

IDAES-related:
- idaes-pse

[2021-02-16 16:26] dguittet opened #14 "Unit Models for Renewables Case"
Unit models required are:

- [x] PEM Electrolyzer
- [x] Battery
- [x] Wind Farm
- [x] Electricity Splitter

These will allow a flowsheet to be constructed for the RE superstructure.

[2021-03-12 23:13] dangunter opened #20 "Tests failing for models/nuclear_case"
Tests are failing. Just because you *can* merge with failing tests doesn't mean you *should*.

[code]

[2021-04-05 22:05] klfrick2 opened #26 "Prescient Dependency Requirement when running Dispatches"
When running off a dispatches PR. (PR10 to be exact). When the model hydrogen_turbine_combined_TGSet.py is run a failure occurs claiming the module "prescient" needs to be present.

[code]

All that is needed for this model is hydrogen properties and idaes generic models.

[2021-04-06 00:51] adowling2 commented on #26
@dangunter Is this related to the DMF?

[code]

[2021-04-06 03:51] jghouse88 commented on #26
I thought the same but I see that https://github.com/gmlc-dispatches/dispatches/blob/main/requirements.txt has `gridx-prescient` requirement. `requirements-dev.txt` does not have this, however, `setup.py` only looks at `requirements.txt`.

@klfrick2 Can you run `python setup.py` and see if it fixes this issue?

[2021-04-12 16:34] ksbeattie commented on #20
This appears to no longer be failing.

[2021-04-12 16:34] #20 closed

[2021-04-12 16:51] #13 closed

[2021-04-12 17:07] bknueven commented on #26
I was *not* able to replicate this issue with a fresh conda environment on Linux. I'm guessing this would be be fixed my merging in current main and rerunning setup.py as @jghouse88 suggests.

[2021-04-12 21:24] ksbeattie commented on #26
Same here.  I tried from both of @klfrick2's dispatches-1 (pre public/broken fork) and dispatches (post public/correct fork) and other than having to replace `dispatches.dispatches` with just `dispatches` during imports, it worked.

@klfrick2 can you close this issue if you agree this isn't a problem anymore?

[2021-04-15 18:24] jghouse88 commented on #26
I get this when I run pytest from the top directory, tests pass but I am not sure what the warnings are about.

`=================================================================================================================================== warnings summary ====================================================================================================================================
..\..

[2021-04-16 22:01] jghouse88 commented on #26
Thanks @jsiirola!

[2021-04-22 21:04] dangunter opened #35 "Do not run Python code in top-level of modules"
Modules like dispatches/models/fossil_case/thermal_oil/discharge_heat_exchanger.py will run code on import. This is generally accepted as bad practice, and can break many different things.

[2021-04-26 16:55] #26 closed

[2021-05-10 16:47] dangunter commented on #35
https://docs.python.org/3/library/__main__.html

[2021-05-10 16:48] ksbeattie commented on #35
https://github.com/IDAES/idaes-pse/blob/main/idaes/power_generation/flowsheets/subcritical_power_plant/steam_cycle_flowsheet.py is an example to follow.

[2021-05-24 16:38] ksbeattie commented on #35
We should try to get a list of such files, possibly using pylint?

[2021-05-24 16:52] #7 closed

[2021-06-07 16:21] #14 closed

[2021-06-07 16:50] ksbeattie commented on #35
@dangunter, says he'll look into trying `pytest` in collect mode or possibly measuring import time similar to what pyomo runs in their test suite.

[2021-06-07 17:05] ksbeattie opened #45 "July (internal) release goals"
This is a list of goals for the July internal release (targeting paper/technical report for simple system: 8/31):

- [x] Models: We need to pivot and start getting documentation in place
  - [x] Case Studies:
    - [x] Nuclear:
      - [x] Hydrogen Turbine: Konor PR #27
        - [x] model
        - [x] docs (PR #50)
        - [x] tests
      - [x] Hydrogen Tank: Naresh S PR #34, #51 & #61
      -

[2021-06-29 04:52] dangunter commented on #35
There is a test to do this in a PR in the idaes-pse (main IDAES) repo, although that one may take a while to get merged since there seem to be some opinions on how to do it: https://github.com/IDAES/idaes-pse/pull/396

[2021-07-01 15:26] jghouse88 opened #47 "Update idaes-pse requirement in requirements.txt"
Currently, there is a mismatch in the idaes version that is installed in `requirements.txt` and what is used when running tests on GitHub. The `requirements.txt` file installs a release version while the tests are run against the idaes-pse main. We need to update the `requirements.txt` to install the idaes-pse main.

[2021-07-01 17:01] lbianchi-lbl commented on #47
This makes sense. I'm looking into this, including the GitHub Actions setup, and it should be straightforward to set this up.

[2021-07-01 17:06] jghouse88 commented on #47
Thanks @lbianchi-lbl!

[2021-07-19 16:41] ksbeattie commented on #45
@jghouse88 who will be working on the last 2 checkboxes here?

[2021-07-19 17:31] adowling2 commented on #45
@ksbeattie We are a little delayed on the last two checkboxes. I'll be working on them with @jalving and @jghouse88.

[2021-07-26 16:41] #47 closed

[2021-07-26 16:50] ksbeattie commented on #45
@Andresj89: Did PR #40 complete the above checkbox?
@nareshsusarla: Are the Fossil docs above coming along?

[2021-07-26 16:55] ksbeattie commented on #35
@jghouse88 will look into, at least for the thermal_oil/discharge_heat_exchanger.py file, moving this into a separate test.

[2021-07-26 20:59] klfrick2 commented on #35
is this an issue. The file dispatches/models/fossil_case/thermal_oil/discharge_heat_exchanger.py doesn't exist in current branches or the main file tree. At least not that I see.

It points to an old branch for this model.

[2021-08-02 15:44] dangunter opened #53 "Add links to IDAES etc. on every page"
In the Sphinx conf.py file, you can set a variable `rst_epilog` to a string whose contents will be interpreted as reStructuredText and appended at the bottom of every page of documentation.  This could be used to add a link to IDAES and any other relevant dependencies on every page. It could also be used, as in the IDAES project, to define some shortcuts (`substitutions`) so links could be easily

[2021-08-16 16:49] dangunter opened #56 "Add initial doc for HX tube / concrete thermal storage"
Add docs for code in https://github.com/gmlc-dispatches/dispatches/pull/30

[2021-08-16 16:50] ksbeattie commented on #45
@adowling2, any update on the last two checks here?

[2021-08-16 17:01] ksbeattie commented on #53
Here is an example of this being used in IDAES: https://idaes-pse.readthedocs.io/en/stable/tutorials_examples.html

[2021-08-16 17:24] lbianchi-lbl commented on #35
The original file `dispatches/models/fossil_case/thermal_oil/discharge_heat_exchanger.py` that prompted this issue has since been converted to a test, so that particular aspect of the issue has been addressed.

To ensure that the DISPATCHES codebase is checked to avoid similar issues going forward, we're finalizing a tool to systematically run and analyze module imports, which will be integrated w

[2021-08-16 18:23] adowling2 commented on #45
@ksbeattie Effort is in progress. I'd prefer to not write documentation until we have converged on the workflow. What do you think about creating placeholder pages?

[2021-08-16 20:40] ksbeattie commented on #45
@adowling2 placeholder pages would be fine.  Mostly just trying to get the box checked, and exercise all the steps for creating a first, very internal, release done.

[2021-09-13 16:39] #56 closed

[2021-09-13 16:49] adowling2 opened #65 "April/May 2022 Release Goals (internal)"
Overall goal: code for reproducing (subset of) results for milestone Task 2.2 Y2Q2 (Dec 2021) superstructure optimization milestone.  Each of the following should have (for the March release)

- Working model of the case study
- Basic tests in place
- Basic documentation started

- [x] Nuclear case study: (Konor & Radhakrishna) #84
- [x] Renewables case study: (Darice) #60 & #106
- [x] Fossil case

[2021-09-13 16:50] adowling2 opened #66 "June 2022 Release Goals (external)"
Overall goal: code for reproducing (subset of) results for milestone Task 3.2 Y2Q3 integrated analysis milestone

**Dependencies:**
- [x] IDAES release with the following PRs merged: @ksbeattie @lbianchi-lbl
   - [x] IDAES double loop plug-in: @xiangao1 https://github.com/IDAES/idaes-pse/pull/638
- [x] Prescient release (or identify suitable existing release) @bknueven
   - [x] #89
- [ ] RAVEN???

[2021-10-07 18:39] lbianchi-lbl opened #70 "Add automated checks for headers in code files"
We should add automated checks (using [addheader](https://pypi.org/project/addheader/)) to ensure that headers in code files are present and consistent.

[2021-10-11 16:25] lbianchi-lbl opened #71 "Add CI checks for test coverage for PRs"
We should enable Codecov reports to be generated as part of the pytest jobs on GitHub Actions. Even if in a first phase the coverage checks are not enforced, it's still useful to have a summary of the status of tests included as part of a PR.

[2021-10-11 16:47] lbianchi-lbl opened #72 "Review and simplify documentation auto-generation directives"
This was originally prompted while reviewing #57, but it's more of a cross-cutting concern involving the entire project's documentation.

Currently, there seem to be multiple types of auto-generation Sphinx directives used in the documentation: `module`, `automodule`, `autoclass`... It would be good to review how these are used in the current version of the docs, and ultimately come up with a cons

[2021-10-14 00:53] #70 closed, assigned to lbianchi-lbl

[2021-11-08 17:17] #45 closed

[2021-11-08 17:22] bknueven commented on #53
Related: if we're linking heavily into IDAES docs (a good idea), we should minimally running the docs linkcheck.

[2021-11-08 17:26] ksbeattie commented on #65
@adowling2, can you elaborate on the "General tools" checkbox above?

[2021-11-08 17:44] andrewlee94 commented on #72
In short, you should be documenting the thing the user will use, i.e. the class or method. That being the case, `autoclass` or `automethod` would generally be the more appropriate thing to add to the docs.

For things like flowsheets, this will mean the developers need to think carefully about how they build and run the model so that it is amenable to documentation.

[2021-11-09 04:17] adowling2 commented on #65
Any shared code we develop across the case studies. For example, we might decide to create 'superstructure_methods.py' that contains shared methods. IMO, this will come together once draft PRs for the case studies appear and we can start thinking about how to generalize.

[2021-11-22 16:50] lbianchi-lbl commented on #71
Done in #75.

[2021-11-22 16:50] #71 closed

[2021-12-15 17:07] jghouse88 opened #76 "Need RAVEN dependency for DISPATCHES"
RAVEN is currently not part of the required list of packages for DISPATCHES. Can we add this?

[2021-12-15 17:51] lbianchi-lbl commented on #76
@jghouse88 I'd be happy to look into this but a quick web search (e.g. https://github.com/idaholab/raven/wiki/installationLinux) seems to suggest that this could be more complicated that I would have guessed. Does anyone have more insight on which components we need and in what way are we planning to manage this as a dependency, e.g. for CI, DISPATCHES users, etc?

[2022-01-10 17:25] jghouse88 commented on #76
@klfrick2 @joshua-cogliati-inl We can use this issue to track the dependency. Please get back here which portions of RAVEN are required for ARMA and if pip will work. Same for TEAL.

[2022-01-10 17:34] lbianchi-lbl opened #77 "Enable running example notebooks as part of CI checks"

[2022-01-31 17:22] joshua-cogliati-inl commented on #76
RAVEN work on creating a wheel: https://github.com/idaholab/raven/pull/1748

[2022-02-14 17:39] ksbeattie commented on #53
@dangunter suggests that another approach would be to have separate "dependencies" page listing what our dependencies are and links to them.

[2022-02-14 17:43] #2 closed

[2022-02-15 15:31] adowling2 opened #80 "Analyze renewables case study with double loop"
Lead: @xiangao1 @dguittet

Support: @bknueven @isatkaus

### Summary

**The goal for March 31, 2022**: Successfully link RE case study with double loop via multi-period model interface and simulate for multiple days (up to 1 year). Complete preliminary analysis of the findings. Investigate the impact of optimal participation vs baseline Prescient simulation.

**Important Code**:
- IDAES PR for dou

[2022-02-15 15:31] adowling2 opened #81 "Analyze nuclear case study with double loop"
Lead: @radhakrishnatg

Support: @jghouse88 @klfrick2 @Xinhe-Chen @xiangao1

**The goal for March 31, 2022**: Successfully link NE case study with double loop via multi-period model interface and simulate for multiple days.

**Important Code**:
- IDAES PR for double loop plug-in: https://github.com/IDAES/idaes-pse/pull/638
- DISPATCHES PR for case study models:

**Main Tasks and Timeline**:
- [x] I

[2022-02-15 15:31] adowling2 opened #82 "Analyze fossil case study with double loop"

[2022-02-15 16:10] adowling2 opened #83 "Generalize self-schedule bidder"
Goal: generalize the customized self-schedule bidding method implemented for the RE case study.

Lead: @isatkaus

Support: @xiangao1 @bknueven

@xiangao1 has implemented a self-schedule bidder class in the IDAES double loop PR: https://github.com/IDAES/idaes-pse/pull/638

**Outstanding Tasks:**
- [x] Review prototype from @xiangao1, provide feedback
- [x] Add support for RTM prices (not just DAM)

[2022-02-15 17:11] adowling2 opened #85 "Create multiperiod market surrogate models"
Goal by June 30, 2022: Develop multiperiod (dynamic) surrogate models to predict market outcomes (e.g., revenue, time-series LMP, time-series dispatches) as a function of PCM inputs for a hybrid energy system.

Lead: @Xinhe-Chen

Support: @jghouse88 @jsiirola @jalving @bknueven

Tasks:
- [x] Review surrogates code here: https://github.com/jalving/dispatches/tree/prescient_verify/dispatches/models/

[2022-02-16 13:01] adowling2 opened #86 "Integrate TEAL with Pyomo cost expressions into DISPATCHES workflow"
Goal by June 30, 2022: Extend TEAL to generate Pyomo expressions for costing formulas. Integrate said formulas into the DISPATCHES workflow, starting with the NE case study.

Lead:

Support: @klfrick2 @radhakrishnatg

**Outstanding Tasks**:

[2022-02-22 18:41] xiangao1 opened #87 "Enhancement ideas for DISPATCHES double loop workflow"
Idea 1: Add support for hydrogen co-product in Bidder and Tracker objective functions

Idea 2: Add a general interface for recording state variables and model variables.
- The current practice is for each case study to have a customized record method
- multiperiod object maintains a list of variables to record
- a general method that extracts the values for the variables, records the file
- a meth

[2022-02-23 01:35] dguittet opened #88 "Speed up RE Flowsheet for 1 year Horizon"
Currently, the full flowsheet (Wind + Battery + PEM + H2 Tank + Turbine) has not beed solved for a full year of data. Speed up model to make this possible.

Difficulties with this model include:
 1. Different wind generation at each timestep, many times 0 generation leading to 0 flow through downstream unit models
 2. With current data, H2 Tank and turbine are not economic so the solution moves to

[2022-02-23 01:36] dguittet commented on #88
Hi @adowling2, I tried the Degeneracy Hunter but at this step: `dh = DegeneracyHunter(m, solver=pyo.SolverFactory('cbc'))`
I run into this error:
[code]

[2022-02-23 01:51] adowling2 commented on #88
@dguittet Are you running this on macOS, Windows, or Linux? If Windows or Linux, you want to install the IDAES extensions which include the "good" Ipopt (with HSL linear algebra). This will also give you the pynumero_ASL library. For macOS users, it is much more complicated. I recommend VirtualBox + Ubuntu.

Also, using "good" Ipopt may dramatically speed up the solution.

[2022-02-23 01:55] adowling2 commented on #88
@xiangao1 Can you share with @dguittet the code we have for initializing an IDAES model from a library of JSONs?

[2022-02-23 16:12] dguittet commented on #88
@adowling2 Great, I was able to install Pynumero from Pyomo and get `dh` to work! I'm on Mac but I built IPOPT with HSL. However, the timing results I showed last week are from Linux using idaes-ext (HPC not locally).

[2022-02-23 18:32] dguittet commented on #88
So after running IPOPT with max_its = 0, there does show up constraint violations. This is the code here:

[code]

<details>
  <summary>Output of residuals from multiperiod model with 2 timesteps</summary>

[code]

</details>

Is there anything that could or should be done here? I tried re-initializing the model, but that gives a pyomo error:

<details>
   <summary>Pyomo error output </summary>

[

[2022-02-24 16:52] dguittet commented on #88
Here's a slightly more detailed time profiling of solving for 4380 hrs at a time. Total run time was 18.678 hours: IPOPT solve was 4.33 hours, pre-solve was 14.198 hours. Within pre-solve, initialization was 13.86 hours.

{
  "wind_mw": 200.0,
  "batt_mw": 280.5774,
  "pem_mw": 24.6194,
  "tank_kgH2": 0.073780,
  "turb_mw": 0.0001077,
  "h2_price": 3.0,
  "ts": 4380,
  "model_vars": 1213262,
  "id

[2022-02-24 23:51] dguittet commented on #88
Here's a slightly more detailed time profiling of solving for 4380 hrs at a time. Total run time was 6.25 hours: IPOPT solve was 5.27 hours, pre-solve was 0.829 hours. Within pre-solve, initialization was 0.55 hours and cloning was 0.269 hours. IPOPT time (in the `opt.solve` call) was 84% of the total time.

[code]

I've uploaded the log from IPOPT as well. Overall, there aren't restoration phases

[2022-02-25 17:28] dguittet commented on #88
And here's the time profiling for 1 one of the 8736 hr runs (the other 2 are still incomplete). Total run time was 21.76 hrs, 19.02 hrs of which was in IPOPT, or 87%.

[code]
[IPOPT Log 8736_hr.json.zip](https://github.com/gmlc-dispatches/dispatches/files/8143067/8736_hr.json.zip)

[2022-02-28 17:12] PaulTalbot-INL commented on #86
FYI The changes in TEAL have been merged with idaholab/TEAL#43; we're working on an initial demo for it in the dispatches nuclear case.

[2022-02-28 18:35] PaulTalbot-INL commented on #86
It's worth noting that while we can demo TEAL integration, in order for DISPATCHES users to benefit from this we need RAVEN and TEAL as install dependencies; see #76 and idaholab/raven#1748.

[2022-03-01 00:53] dguittet commented on #65
For the flowsheet tests, we need to import the MultiPeriod Model, which currently lives on Xian's andJordan's forks. My tests for #60 are going to be failing until either the code is merged into idaes or we use a different version of idaes to test against.

[2022-03-02 15:21] jghouse88 opened #90 "Example to show how to generate synthetic histories from RAVEN for use in DISPATCHES"
Linked to #76

We will need an example notebook to show this capability once we solve the dependency issues.

[2022-03-14 16:49] lbianchi-lbl commented on #35
Bumping the priority down until after the upcoming internal release. Until we have an an automatic way to check for this, we can perform this check "manually" when reviewing a PR to make sure that only expected code (imports, functions/classes/constants definition) is executed at import time.

[2022-03-14 16:50] ksbeattie commented on #88
@dguittet any news on this?

[2022-03-14 16:59] lbianchi-lbl commented on #77
We can open a PR once we have one or more realistic example notebooks running meaningful DISPATCHES code, which @jghouse88 is working on.

[2022-03-14 17:48] adowling2 commented on #88
@dguittet I just had a chance to look at the logs:

[code]

My suggestion is to enable the `halt_on_ampl_error` option. Then, set `symbolic_solver_labels=True` in the `solve` call and rerun. This will tell us which constraint is causing the ampl error. This normally points to a model problem, that when sometimes addressed with a reformulation, leads to much faster Ipopt convergence.

[2022-03-14 17:55] dguittet commented on #88
@adowling2 Yes, I've tracked that problem down using those options and it comes down to the isentropic_properties block in the h2 turbine's compressor and turbine, where there are log functions of mole fraction ratios. Since H2 is not optimal, as it gets minimized, IPOPT will try out values where there is a very, small negative number for those mole fraction ratios of hydrogen, leading to the ampl

[2022-03-14 18:08] adowling2 commented on #88
@dguittet that makes sense. @radhakrishnatg does it make sense to bound these mole fractions inside the H2 turbine model components? IMO, this sounds like something better to fix in the model than on the solver side.

[2022-03-14 18:10] adowling2 commented on #88
@ksbeattie This could be a low-priority issue. It is not needed for a milestone this year.

[2022-03-14 18:11] dguittet commented on #88
@adowling2 @radhakrishnatg  I've tried bounding those mole fractions as well but it didn't improve the situation. I think it may have taken longer or had other solve problems.

[2022-03-14 20:06] ksbeattie commented on #88
@adowling2, thanks.  I've moved this to the June 2022 release board, for now.

[2022-03-14 20:46] radhakrishnatg commented on #88
@adowling2 @dguittet This is how I initialize the translator, mixer and hydrogen turbine models:
[code]
# Add a constraint to maintain the air to hydrogen flow ratio
    m.fs.mixer.air_h2_ratio = Constraint(
        expr=m.fs.mixer.air_feed.flow_mol[0] ==
             air_h2_ratio * m.fs.mixer.hydrogen_feed.flow_mol[0])
[code]

[2022-03-14 20:57] radhakrishnatg commented on #88
I have an approach to reduce the model build time. I am not sure if it works, but we can definitely it and see when you have some time.

[2022-03-14 23:04] lbianchi-lbl opened #93 "Test failure in `test_wind_power.py`"
The `test_windpower()` test is currently failing:

[code]

It's not immediately clear to me if this is more likely to be due to a change in the DISPATCHES code, or an upstream regression in IDAES and/or Pyomo. I'm adding assignees based on `git blame` for the test file, but feel free to chime in and/or assign anyone who could offer some insight on this.

[2022-03-14 23:14] adowling2 commented on #93
This looks like a regression test and the solution is different.

[2022-03-15 15:18] dguittet commented on #88
@radhakrishnatg I also have the air feed ratio fixed, and the stoic_reactor's conversion rate to 0.99. I can re-run the model to report the AMPL errors and see if those are different now compared to when I last checked them, which was before the air feed ratio was fixed.

The model build time is ~15% of the total time, most of it is around re-initializing the wind and wind_to_grid blocks to adapt

[2022-03-17 16:08] dguittet commented on #88
Well, with the latest code, I can not reproduce that AMPL error even over a few different H2 prices and time horizons...

[2022-03-17 18:40] radhakrishnatg commented on #88
Okay. Is IPOPT still taking a long time to solve the problem? With the mole fraction and conversion values fixed, the hydrogen turbine model becomes linear. So, I think it may not be the reason for the slow convergence of IPOPT.
Do you observe a significant reduction in computational time when you remove the hydrogen turbine?

[2022-03-17 18:49] radhakrishnatg commented on #65
@dguittet Other than the `MultiPeriodModel` class, do you need any other code from Xian and Jordan's branch for #60? During Monday's dev call, we discussed adding a copy of the `MultiPeriodModel` class code to the dispatches repository temporarily until Xian and Jordan's branch is merged. This way we can merge your PR after you finalize the changes and a couple other PRs in the next few weeks.

[2022-03-28 16:31] #93 closed

[2022-03-28 16:52] lbianchi-lbl opened #96 "Ensure Multiperiod is available (temporarily from `dispatches`, then ultimately from `idaes`)"
- Multiperiod functionality is part of IDAES/idaes-pse#638, but several case study PRs currently under review or development in DISPATCHES depend on it
- We'd like to be able to test as much as we can before IDAES/idaes-pse#638 is merged in, so we should have a way to incorporate the Multiperiod functionality in those DISPATCHES PRs that depend on it

## Proposed procedure

- [x] Open a PR in DISP

[2022-04-11 16:45] #80 closed

[2022-04-11 16:50] ksbeattie commented on #77
A notebook will be coming in via PR #84

[2022-04-25 17:02] ksbeattie commented on #96
@radhakrishnatg is going to open a PR to accomplish the 3rd checkbox here (with the contents of PR #101).  We will need PR #101 merged in before we can truly call this issue closed.

[2022-04-25 21:22] jghouse88 opened #104 "DISPATCHES repository reorganization"
Folders are organized according to case studies and there are models that are common to two different case studies. For example, PEM unit model is currently under `renewables_case` but it is also used in `nuclear_case`. Similarly, hydrogen turbine currently is within `nuclear_case` but is used in the `renewables_case` as well. Suggested reorg post discussion during meeting on 04/25/2022 is as foll

[2022-04-26 00:48] ksbeattie commented on #104
We should schedule this reorg carefully, as it will create conflicts with pretty much all open PRs.  The best time might be right after the April/May release, when there will hopefully be a minimum of open PRs and to allow plenty of time to resolve conflicts.

[2022-04-26 01:07] adowling2 commented on #104
+1 to the suggestion from @ksbeattie (which I think was also raised in the call today).

[2022-04-26 01:08] adowling2 commented on #104
@jghouse88 Does it make sense to replace `utilities` with `workflow`. IMO, `workflow` is a more appropriate name for the code related to surrogates, etc. Perhaps it is more encompassing than `utilities`.

[2022-04-27 13:36] radhakrishnatg opened #105 "Update `imports` and `initialize` methods"
Unit model folders have been reorganized in IDAES V2, so we need to update the imports. Also, IDAES v2 requires unit models to have `initialize_build` method instead of `initialize`, so we need to change the name of the `initialize` method to `initialize_build` in all the unit models.

- [x] Update imports in unit models and in all the notebooks #116
- [ ] Change the name of the `initialize` metho

[2022-05-12 13:26] radhakrishnatg opened #112 "Update IDAES `multiperiod.py` and remove DISPATCHES `multiperiod.py`"
There is a different version of `multiperiod.py` in the nuclear folder. This version has a few additional methods that are needed for the nuclear case study, but they are not available in the IDAES' version. Need to add the missing features to the IDAES version and remove the `multiperiod.py` file from the nuclear folder.

[2022-05-16 17:04] #96 closed

[2022-05-16 17:13] joshua-cogliati-inl commented on #76
Sample pip package in:
https://test.pypi.org/project/raven-framework/

[2022-06-06 16:54] lbianchi-lbl opened #117 "Accessing the rts-gmlc dataset(s) for DISPATCHES examples and/or notebooks"
- The DISPATCHES examples and/or notebooks need access to (at least part of) the rts-gmlc dataset
- We need to come up with a solution that allows users to install the dataset in a convenient way

## Proposed solutions

### Creating a Python package as a separate repo in the `gmlc-dispatches` org

- The idea is to make the dataset installable and importable as a Python package for convenience
- Th

[2022-06-06 17:19] #105 closed

[2022-06-06 17:41] ksbeattie commented on #83
@adowling2, is this still needed for June?  @xiangao1 says that this functionality now exists in idaes-pse, is that correct?

[2022-06-22 18:47] radhakrishnatg commented on #76
@joshua-cogliati-inl I tried installing Raven with pip and I got this error message:
[code]

[2022-06-22 18:54] joshua-cogliati-inl commented on #76
@radhakrishnatg  Rats.  Just to check, what command did you use to get the package?

[2022-06-22 19:11] radhakrishnatg commented on #76
@joshua-cogliati-inl I tried multiple commands:
[code]
and, none of them worked. All the above commands gave a similar error message.

[2022-06-22 19:25] joshua-cogliati-inl commented on #76
Which python version are you using?

[2022-06-22 19:27] radhakrishnatg commented on #76
Ah. okay. That could be the issue. I was using python 3.10. I will switch to python 3.7 and try installing it.

[2022-06-22 19:45] radhakrishnatg commented on #76
I see the same error message with python 3.7 as well
[code]

[2022-06-22 19:48] joshua-cogliati-inl commented on #76
Okay, thank you for letting me know. I will try and figure out the problem, tho' I don't have time in the near future.

[2022-06-23 17:25] lbianchi-lbl commented on #117
I've just created https://github.com/gmlc-dispatches/sample-data that resolves this issue. The README of that repo contains usage instructions:

To install the package:

[code]

Importing and using the package in Python code:

[code]

[2022-06-23 17:25] #117 closed

[2022-06-24 23:51] lbianchi-lbl opened #121 "Ensure full functionality when installing in package distribution (non-editable) mode"
It's likely that several things are currently working when installing `dispatches` in editable mode (i.e. clone the repo, then run `pip install -e` and/or `-r requirements-dev.txt`) will stop working when `dispatches` is released and installed directly from PyPI as `pip install dispatches`.

To avoid (or limit the impact of) this, we should:

- [ ] Make sure that all directories under `dispatches`

[2022-06-27 14:26] lbianchi-lbl opened #122 "Address IDAES v2 deprecation warnings due to use of initialize()"
Changes in preparation to IDAES v2 resulted in warnings being emitted when `Block` subclasses redefine the `initialize()` method:

[code]

From what I understand, most of these warnings have been addressed in #116, but there's still a few occurrences of overloaded `initialize()` methods left in the codebase:

![image](https://user-images.githubusercontent.com/48035537/175963027-e9f2261a-e535-4393-

[2022-06-27 17:04] lbianchi-lbl commented on #122
For notebooks that 1) have the deprecation warnings, and 2) have not been merged in yet, we we should try to simply re-run the notebook and see if it's enough to make the warnings disappear:

- If this is the case (i.e. the warnings disappear without changing the Python code), then we should save and commit the updated, warning-free `.ipynb` file
- Otherwise (i.e. removing the warnings would requi

[2022-06-27 17:10] lbianchi-lbl opened #123 "March 2023 Release Goals"
## Migrated from #132

- [x] Integrate TEAL with DISPATCHES workflow:
  - Issue #86
  - Issue #90 addressed by
  - PRs #177 (replacing ~PR #150~)
- [ ] #192
  - PR #142
- [x] (**D**) Any changes connected with IDAES/idaes-pse#1002
  - Issue #176

[2022-06-29 18:14] lbianchi-lbl opened #125 "Jupyter notebooks infrastructure"
- [ ] Integrate notebooks with Sphinx/ReadTheDocs build
  - This will be done in a "static" fashion, i.e. directly converting the existing `.ipynb` files through Sphinx, i.e. without re-running the notebook first
- [ ] Integrate notebooks with testing and CI infrastructure
  - The current plan is to implement this via a pytest plugin, preferably an off-the-shelf solution such as e.g. [nbval](https

[2022-06-30 15:09] lbianchi-lbl opened #127 "Resolve Jupyter notebooks errors"
As part of the notebook infrastructure being added in #126, running the automated tests on the existing Jupyter notebooks resulted in several errors. These will need to be addressed before we can use the notebook tests as part of the CI; more in general, it's likely that these errors are due to running the notebook in an isolated environment and therefore would also affect external users.

**EDIT*

[2022-06-30 23:53] #121 closed

[2022-07-11 23:40] lbianchi-lbl opened #132 "TODO for December 2022 Release"
## Summary

There are two distinct sets of changes that should be merged into IDAES/idaes-pse for DISPATCHES, which I'm calling very arbitrarily **A** and **B**:

### A

- **What it is** Updates to `MultiperiodModel`
- **What is affected** Needed for the nuclear case study (Although all three case studies use `MultiPeriodModel`, the updates are needed only for the nuclear case study. The updates a

[2022-07-12 17:00] #125 closed

[2022-07-18 17:07] #65 closed

[2022-07-18 17:07] #66 closed

[2022-07-19 17:02] nareshsusarla opened #135 "Update or remove files in thermal_oil folder from the fossil case"
The contents in the thermal_oil folder in the fossil case study folder is no longer used so plan to either update the files or remove them altogether.

[2022-07-25 17:42] radhakrishnatg commented on #132
@dguittet From what I understand, you need this branch https://github.com/dguittet/idaes-pse/tree/2.0.0.a4 for the renewable case study. So, are you planning to create a PR in IDAES with these changes? If yes, it would be better to merge these changes as soon as possible.

[2022-07-25 18:04] radhakrishnatg commented on #132
@dguittet @xiangao1 Another question. Are the changes to `Bidder`, `Coordinator` and `Tracker` classes in this branch (https://github.com/dguittet/idaes-pse/tree/2.0.0.a4) valid in general, or are they RE case study specific? @lbianchi-lbl and I were thinking we could do the following. Merge the changes to the above classes that are not case study specific with IDAES main. And, the changes that ar

[2022-07-25 18:59] PaulTalbot-INL opened #137 "Integrate RAVEN synthetic histories into DISPATCHES workflow"
Currently some demonstration cases are loading synthetic histories via pre-sampled CSV (to JSON) files.

RAVEN can provide these synthetic histories directly, so this should be demonstrated so it can be used in workflows.

This is a task the INL team is currently working on for a September 2022 release.

[2022-07-25 18:59] PaulTalbot-INL commented on #137
Using this will be facilitated by #76 .

[2022-07-25 20:22] adowling2 commented on #132
My vote is to generalize and contribute back to IDAES to the extent possible.

[2022-07-26 16:36] radhakrishnatg commented on #76
@joshua-cogliati-inl I'm sorry! I probably did not read the error message carefully the other day. I tried it again today, and I observed the following:
- The installation stopped because it could not find a few required packages `lxml`, `xarray`, `statsmodels` etc. I had to install all the missing packages manually.
- The installation failed also because it could not find the required version. Fo

[2022-07-26 22:16] joshua-cogliati-inl commented on #76
@radhakrishnatg Thank you for extra information. I will do some more testing this week or next. I see the bug in RAVEN's library_handler.py (that I used to generate setup.cfg) where I wasn't specifying some required packages, so I should be able to fix that.

[2022-07-28 18:35] joshua-cogliati-inl commented on #76
For future reference for anyone making a python package, if you don't include "Programming Language :: Python :: 3" as a classifier, you get weird pip problems :)  (I think this was responsible for the Cannot determine archive format error) I am working on a new prerelease that fixes that and some other problems.

[2022-07-28 18:37] joshua-cogliati-inl commented on #76
```python3.7 -m pip  install --extra-index-url https://test.pypi.org/simple/ raven-framework``` works on Linux, I just need to build other platforms.

[2022-07-28 19:59] joshua-cogliati-inl commented on #76
I was able to install raven in windows (using the miniconda python) with:
[code]

[2022-07-29 21:38] radhakrishnatg commented on #76
Thank you @joshua-cogliati-inl ! I could install raven in windows without any issues. But, I'm not sure how to use it. I tried to import raven in the following way, and it did not work:
[code]
Could you please tell me how I can run raven?

[2022-08-01 13:40] joshua-cogliati-inl commented on #76
```import ravenframework``` should work, but the typical way we run raven is running the command line with an input file:
```raven_framework input.xml```

[2022-08-01 14:23] PaulTalbot-INL commented on #76
@radhakrishnatg we've got some people working separately on how to use the synthetic histories via the external ROM loader as well as using TEAL for constructing pyomo objectives; as Joshua notes, RAVEN wasn't built as a library but as a code, so directly loading it as a library has limited application.

[2022-08-01 16:43] radhakrishnatg commented on #76
Thank you @joshua-cogliati-inl and @PaulTalbot-INL ! I tried to run the way you suggested, and I got the following error:

[code]

As the per the suggestion, I downgraded the `protobuf` package to 3.20.*

This time it ran with a few deprecation warnings:

[code]

But it ultimately terminated with an error message:

[code]

[2022-08-01 17:08] ksbeattie commented on #132
@dguittet : We need to determine if this is generalizable and contribute this back to IDAES - which would need to happen for the IDAES Aug release.

[2022-08-01 19:02] joshua-cogliati-inl commented on #76
Hm, that is a strange error, (and one that I don't get from my raven pip install.).   It is an error I got when I was first working on the pip package, but it should not be possible now (unless somehow an old version of Driver.py was running with a new version of Model.py)

[2022-08-01 19:04] joshua-cogliati-inl commented on #76
Oh, this was during unpickling.  The pickle file must be from before the imports were fixed for the raven package (~ Mar 2022).

[2022-08-01 19:17] radhakrishnatg commented on #76
@joshua-cogliati-inl Yes, I received the `price_sample_cluster.xml` and `arma.pk` files from Konor back in November 2021. Could you please share a file that is compatible with the new raven package? I can run the tests with the new file and see if it works.

[2022-08-01 19:26] joshua-cogliati-inl commented on #76
The way I have been testing is checking out raven with git, and then going to an example file (like doc/workshop/forwardSampling/exercises/1_sample_and_plot.xml ) and running raven_framework to check it.  If you want a new version of something like price_sample_cluster.xml maybe @PaulTalbot-INL  can point you at it.

[2022-08-01 19:38] radhakrishnatg commented on #76
Thank you @joshua-cogliati-inl !  I tested with the example you mentioned, and it ran without any errors (I still see the above deprecation warnings though).

[2022-08-01 20:05] PaulTalbot-INL commented on #76
@radhakrishnatg did Konor also provide the data files on which the `price_sample_cluster.xml` trains the ARMA model?

We keep compatibility scripts to convert old inputs to new ones, but I don't think the `ARMA` input structure has changed in a while, though the inner workings have. Mostly, we've made improvements to the internal random number engine for robustness and portability.

[2022-08-01 20:29] PaulTalbot-INL commented on #76
Okay. All that data should be available in https://github.com/idaholab/FORCE/tree/main/use_cases/2020_12, we can talk more about which set of data and what should be used for the use case. For now I'll focus on just the mechanics of integration and we'll work on the specifics later.

[2022-08-02 22:29] PaulTalbot-INL commented on #137
I believe I missed #90 when I created this issue. Closing in favor of that one.

[2022-08-02 22:29] #137 closed

[2022-08-08 17:32] lbianchi-lbl commented on #132
@ksbeattie I've just updated the issue description with a more detailed description of (what I understand being) the situation. @dguittet @radhakrishnatg, could you verify that the information is correct, and add fixes and/or clarifications as needed?

[2022-08-08 18:11] lbianchi-lbl commented on #127
@dguittet, re: reducing the runtime of RE `DoubleLoopOptimization.ipynb`, summarizing what I understand from your suggestions:

- Setting `num_days` in the Prescient options to e.g. 1 instead of 7 should result in a lower runtime
- We need a way to set this value conditionally to use the lower values for testing, and leave the default 7 in the notebooks, since the user-facing text in the notebooks

[2022-08-08 18:38] joshua-cogliati-inl commented on #76
Hm, the biggest problem with updating to newer than Python 3.7 packages is that cbcpy in pip only goes to 3.7 and that is a dependency for one of RAVEN's plugins.

[2022-08-15 12:51] radhakrishnatg commented on #132
Sorry, @lbianchi-lbl ! I must have missed the notification, and I noticed it just now. Thanks for capturing everything we discussed! Everything looks good. I only made minor changes the description.

[2022-08-17 13:07] radhakrishnatg commented on #135
Removed the old thermal oil files in #134

[2022-08-17 13:07] #135 closed

[2022-08-17 13:09] #104 closed

[2022-08-19 03:17] dguittet commented on #132
Looks great @lbianchi-lbl

One thing that I haven't seen written here that we've discussed is: in (B), needing to update the nuclear and fossil double loop notebooks to use the changes. Once idaes-pse has been released with the changes in (B), those notebooks released in the current dispatches are going to be incompatible with this newest idaes-pse. The next dispatches release that follows this id

[2022-08-22 17:49] joshua-cogliati-inl commented on #76
I am working on supporting Python 3.8 in: https://github.com/idaholab/raven/pull/1933

[2022-09-13 18:49] Xinhe-Chen opened #144 "Store large data files for surrogate models."
To develop surrogate models we need to use large csv files (Dispatch_shuffled_data_0.csv, ~400M). However, we can not put them in the dispatches main repo. We need to discuss where to put those files.
@ksbeattie @lbianchi-lbl @adowling2

[2022-09-13 18:59] adowling2 commented on #144
Our current working plan is to use Box. Worst case, my group has a paid GitHub subscription that includes storage. Although I think GitHub allows for large repos if they are public. Could we have a dispatches/large-data repo?

[2022-09-13 20:50] joshua-cogliati-inl commented on #76
Python 3.8 support has been added, I'll generate python 3.8 packages next time I create a new package.

[2022-09-15 17:53] joshua-cogliati-inl commented on #76
I generated new raven_framework-2.2rc3 packages in python 3.7 and 3.8

[2022-09-16 12:00] radhakrishnatg commented on #76
Thank you, @joshua-cogliati-inl I will test it either today or on Monday morning. Does this package also include the TEAL plugin? If not, could you please tell me how I can install it?

[2022-09-16 13:59] joshua-cogliati-inl commented on #76
The TEAL plugin is separate and can be installed with:
`pip install teal-ravenframework --extra-index-url https://test.pypi.org/simple/`

[2022-09-19 14:49] radhakrishnatg commented on #76
Thank you, @joshua-cogliati-inl ! I'm seeing similar issues as before. First, it is not able to install all the required packages by itself. I had to install them manually. Second, because of the version check, I had to downgrade the version of some of the packages (`numpy`, `scipy`, `pandas`). I'm not sure if DISPATCHES and IDAES are compatible with the older versions.
Even after installing all t

[2022-09-19 14:56] joshua-cogliati-inl commented on #76
Hm, sometimes I have had problems with using `pip install -i https://test.pypi.org/simple/ raven-framework==2.2rc3` instead of `--extra-index-url https://test.pypi.org/simple`   (The later one allows pip to also use packages at regular pypi.org in addition to test.pypi)
I do agree that our library versions can cause problems.

[2022-09-19 16:28] radhakrishnatg commented on #76
Thank you @joshua-cogliati-inl Yeah, `--extra-index-url https://test.pypi.org/simple` worked. I did not get the version conflict error this time.

I also tried `pip install teal-ravenframework --extra-index-url https://test.pypi.org/simple/` and it worked without any errors. Gabriel gave me notebook that uses TEAL to generate cashflow expressions. The notebook ran without any errors, so I'm assumi

[2022-09-19 17:09] adowling2 commented on #144
Summary of conversation from today:
- Use Box, for now, to share files across the team
- Pandas can read in zip files
- Explore creating `large-data` repo, use GitHub large file support
- These files will be used to reproduce results, likely not needed for integration testing.

[2022-09-19 22:22] dguittet commented on #88
Need to re-visit this soon to be able to annual simulations in a reasonable time, however, this doesn't need to be in the October 2022 release

[2022-09-20 15:15] lbianchi-lbl opened #145 "Errors due to pandas 1.5 compatibility with Egret/Prescient"
- Originally detected in IDAES/idaes-pse#966
- The Egret errors have a direct impact on us and are being tracked in grid-parity-exchange/Egret#290
- Until then, the best short-term fix is to prevent pandas 1.5 from being installed by pinning the requirement in setup.py

[2022-09-21 13:53] radhakrishnatg commented on #86
TEAL integration is demonstrated in this notebook https://github.com/GabrielSoto-INL/dispatches/blob/tealnb/dispatches/case_studies/nuclear_case/multiperiod_design_pricetaker_wTEAL.ipynb
The deterministic case is working, but the stochastic case needs some tweaking. After everything is fixed, the script containing helper functions will be pushed to `dispatches.util` folder. The content of the Jupy

[2022-09-21 16:25] joshua-cogliati-inl commented on #76
In python 3.8 it is now it pypi so: `python -m pip install teal-ravenframework` can be used.

[2022-09-21 17:42] adowling2 opened #147 "Unify underbind and wind waste penatlies in tracker of double loop"
@dguittet implemented a wind waste penalty inside the RE case study model that is used in the double loop:
https://github.com/gmlc-dispatches/dispatches/blob/31cd536418ee7b8dd253f062c9976ab1aa9e4cab/dispatches/case_studies/renewables_case/wind_battery_double_loop.py#L175

@Xinhe-Chen will add code from @xiangao1 that introduces underbid penalty, please add coordinates to the code here, need to add

[2022-09-21 17:44] adowling2 commented on #147
@dguittet tested double loop (RE case study) with and without wind waste penalty, battery SOC is higher with the penalty

[2022-09-22 17:24] Xinhe-Chen commented on #147
I uploaded a few missing file from @xiangao1 here:
https://github.com/Xinhe-Chen/dispatches/tree/RE_case_study/dispatches/models/renewables_case

* run_double_loop_latest.py: This file includes the real-time underbidding penalty options and simulation batch option for the double-loop. This file is needed to reproduce the results in @xiangao1 thesis.

* result_analysis_utils.py: This file includes

[2022-09-22 17:36] Xinhe-Chen opened #148 "RE case study: need to reconcile the difference across codes in the team"
Codes from @dguittet:
https://github.com/gmlc-dispatches/dispatches/blob/31cd536418ee7b8dd253f062c9976ab1aa9e4cab/dispatches/case_studies/renewables_case/wind_battery_double_loop.py

Codes from @xiangao1
https://github.com/xiangao1/dispatches/blob/RE-paper-result/dispatches/models/renewables_case/wind_battery_double_loop.py

Difference to discuss and reconcile

- [ ] wind waste penalty term not us

[2022-09-23 01:38] Xinhe-Chen opened #149 "Reconcile OMLT version between IDAES and dispatches"
IDAES now requires OMLT v0.3.1 for installation.
https://github.com/IDAES/idaes-pse/blob/main/setup.py#L85

For building the surrogates, we use OMLT v1.0, which is the latest version available.

@ksbeattie @lbianchi-lbl will IDAES update to OMLT v1.0 in the new 2.0 release? We don't want to have a conflict that dispatches use OMLT v1.0 while IDAES uses OMLT v0.3.1.

[2022-09-27 01:41] Xinhe-Chen commented on #148
Other differences:

In create_multiperiod_wind_battery_model, different wind sources and different arguments.

Line 135 in Xian's codes, update_wind_capacity_factor.

[2022-09-29 17:53] Xinhe-Chen commented on #149
Update
* May not need to use NN surrogates depending on the latest parameter sweeps.

[2022-09-29 18:58] Xinhe-Chen commented on #148
Update:
* We are going to integrate two versions of code from @dguittet and @xiangao1 into one.

[2022-10-03 16:54] ksbeattie commented on #147
dup of #148

[2022-10-03 16:54] #147 closed

[2022-10-05 16:49] radhakrishnatg opened #153 "Fix discharge flowsheet in fossil case study"
@nareshsusarla @esrawli
After making the changes in #151 , the discharge flowsheet is not working. For now, we plan to merge the PR with the test failure. Please take a look at the flowsheet and make necessary changes.

- [x] Test for the discharge flowsheet and update the design Jupyter notebook
- [x] The price-taker notebook is also having convergence issues. For now, `nbval-skip` tag was added

[2022-10-06 02:51] nareshsusarla commented on #153
The failing tests are due to the tests for discharge flowsheet. The Discharge flowsheet is working as expected locally without the need for any changes. Also, the tests are passing locally. Need further analysis on why they are failing in github.

[2022-10-10 17:14] lbianchi-lbl opened #154 "Ensuring full compatibility between Double loop notebooks and upstream IDAES"
### Notebooks

- [x] `DoubleLoopOptimization.ipynb`
  - [x] Class `ThermalGeneratorModelData` seems to be missing from current IDAES
    - [x] Need a PR in IDAES or DISPATCHES adding this class IDAES/idaes-pse#986
  - [x] Something in the notebook itself might need adaptation to IDAES v2 API - if so, it should be easy to fix
- [x] NE and FE double loop notebooks need to be updated to use IDAES/ida

[2022-10-17 18:12] jsiirola commented on #149
OK - I just spent a little time looking at this.  There are a couple issues with moving to OMLT 1.0 that we need to work through:
- OMLT 1.0 made a pretty substantial change to their model: they now *always* create their own list of input / output variables.  In the 0.3.1 version, we could pass in lists of Var objects that OMLT should use to generate the model.  I think we can migrate IDAES over t

[2022-10-24 17:00] lbianchi-lbl commented on #76
- @radhakrishnatg will point out a basic "smoke test" piece of code that can be run to see if the RAVEN installation is working
- - @lbianchi-lbl will open a draft PR adding a CI workflow testing the RAVEN integration

[2022-10-24 17:04] radhakrishnatg commented on #76
@lbianchi-lbl After installing Raven, I run `raven_framework doc/workshop/forwardSampling/exercises/1_sample_and_plot.xml `  to see if the installation is successful or not. Here is the link to the Raven repo containing the test file https://github.com/idaholab/raven

[2022-10-24 21:26] dguittet commented on #83
@adowling2 I think this is done now and has been released in idaes-pse.

RT bidding: https://github.com/IDAES/idaes-pse/blob/20ac4f6ac4d73ea6ba4414694986e8eda8d3f22f/idaes/apps/grid_integration/bidder.py#L342

Comparison was done as part of Xian's thesis, is that correct?

---

I added a test for the RT bidding here: https://github.com/IDAES/idaes-pse/blob/5b9bc4ef23e9b69e98770f743604dfbdef67847f/

[2022-10-25 13:42] adowling2 commented on #83
@dguittet Yes, @xiangao1 did the comparison in this Ph.D. thesis.

[2022-10-25 13:43] adowling2 commented on #83
@dguittet Which IDAES PR includes the RT bidding? Can you post a link here?

@ksbeattie This is ready to close once the PR @dguittet will post a link to is merged.

[2022-10-25 14:43] dguittet commented on #83
https://github.com/IDAES/idaes-pse/pull/855

[2022-10-26 13:02] #112 closed

[2022-10-26 20:32] dguittet commented on #127
Only problem remaining here is the RTS_GMLC capitalization problem on Linux

[2022-10-26 20:33] dguittet commented on #127
Closing this issue and moving the remaining issue to the parent issue

[2022-10-26 20:33] #127 closed

[2022-10-26 20:40] dguittet commented on #154
Updated the title to reflect all double loop notebook

Added new items:

1. Merge https://github.com/IDAES/idaes-pse/pull/996. This is another IDAES PR that needs to be merged so that the NE and FE flowsheets can work.
2. Merge #155. The NE and FE flowsheets have been updated alongside the RE one and should now run without problems...

[2022-10-27 19:54] dguittet commented on #154
@lbianchi-lbl How should I modify the checks.yml so that we can run the RE double loop notebook with the new CI env var?

[2022-10-27 20:12] lbianchi-lbl commented on #154
@dguittet In the `.github/workflows/notebooks-checks.yml` file, it should be enough to add this at the root level of the YAML tree (i.e. `env` should not be indented), e.g. between the `defaults` and `jobs` top-level keys at line 11:

[code]

[2022-10-27 20:13] dguittet commented on #154
@lbianchi-lbl Thanks. And the notebook is already enabled?

[2022-10-27 20:53] lbianchi-lbl commented on #154
@dguittet good point. The last several cells of `DoubleLoopOptimization.ipynb` have a `nbval-skip` tag that needs to be removed from each cell in order for that cell to be run.

That can be done:

- Either through the JupyterLab (or "classic notebook") interface
- Or by opening the `.ipynb` as a text/JSON file and that tag from the `tags: [...]` array (leaving the empty array should be fine)

[2022-10-28 15:02] #83 closed

[2022-10-31 17:15] lbianchi-lbl opened #159 "Enable "CI mode" with reduced runtime for double-loop notebooks"
- Currently, DL notebooks have a runtime that's too long to be run in CI
- We want to have a programmatic way to be able to set the simulation parameters programmatically so that the runtime is lower if a condition is met (e.g. `myparam = 1 if running_in_ci else 10`)
- This mechanism has already been implemented for the RE DL notebook, with the final setup being worked on in #158
- We want to have

[2022-10-31 17:19] lbianchi-lbl commented on #154
Since it's not really connected to the IDAES v2 transition, I've created #159 to track the changes needed to be able to remove the `nbval-skip` tags for the DL notebooks, and closing this as the remaining items have been completed.

[2022-10-31 17:19] #154 closed

[2022-11-03 19:10] nareshsusarla commented on #153
All of these are now addressed in the PR, which is up for review. Once the PR is merged this issue can be closed.

[2022-11-14 17:45] #153 closed

[2022-11-14 18:04] ksbeattie commented on #149
@jsiirola & @adowling2 we should decide how pressing this is for the Dec release of DISPATCHES.